* {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: rgb(60, 60, 60);
}

/* !!!!! NAVBAR/HEADER ON ALL HTML FILES !!!!! */

header {
  background-color: rgb(40, 40, 40);
  display: flex;
  color: white;
  padding: 10px;
}

.title a {
  text-decoration: none;
  color: black;
}

nav {
  margin: 30px 20px 0;
}

nav li {
  display: inline;
  font-size: 18px;
  margin: 30px;
}

nav li a {
  text-decoration: none;
  color: white;
}

nav li a:hover {
  color: rgb(100, 127, 144);
}

/* !!!!! FOOTER ON ALL HTML FILES !!!!! */

footer {
  background-color: rgb(15, 15, 15);
  color: white;
  height: 100px;
  text-align: center;
}

footer h2 {
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 16px;
  padding-top: 40px;
}

/* !!!!! INDEX.HTML CAROUSEL SECTION !!!!! */

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.9);
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.3);
}

.aboutlink {
  text-decoration: none;
  color: white;
}

.aboutlink:hover {
  color: rgb(150, 150, 150);
} 

/* !!!!! INDEX.HTML MY WORKS SECTION !!!!! */

.row.works {
  background-color: rgb(40, 40, 40);
  text-align: center;
  padding: 20px;
}

.row.works img {
  opacity:0.7;

}

.row.works img:hover {
	opacity:1;
  
	-webkit-transition:opacity 200ms ease;
	transition:opacity 200ms ease;
}

.col.works {
  margin: 20px;
}

/* !!!!! ABOUT.HTML PROFILE SECTION !!!!! */

.row.about {
  background-color: rgb(70, 70, 70);
  color: white;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-8 {
  padding: 85px;
}

.col-8 p {
  padding: 20px 40px 20px 10px;
}

.col-4 img {
  border: 1px solid black;
  border-radius: 8px;
}

/* !!!!! CONTACT.HTML FORM SECTION !!!!! */

.formbox {
  color: rgb(225, 225, 225);
  padding: 40px 200px;
  margin-top: 60px;
}

.formbox h3,
.formbox p {
  text-align: center;
  margin-bottom: 23px;
}

.box {
  border: 1px solid rgb(20, 20, 20);
  border-radius: 8px;
  margin: 10px;
  padding: 18px;
}

/* !!!!! MEDIA SCREEN SIZING SECTION !!!!! */

@media only screen and (max-width: 1000px) {
  div.container.carouselbox {
    display: flex;
    max-width: 950px;
  }
  nav ul li {
    margin: 20px;
  }
  .carousel-caption {
    height: 70px;
  }
  .carousel-caption h5 {
    font-size: 1rem;
  }
  .carousel-caption p {
    font-size: 0.60rem;
  }
}

@media only screen and (max-width: 720px) {
  header {
    display: inline-block;
  }
  .title {
    text-align: center;
  }
  nav {
    width: 100%;
    margin-left: 0;
  }
  nav ul {
    margin: auto;
    padding: 0;
    text-align: center;
  }
}