* {
  font-family: 'Raleway', sans-serif;
}

/* !!!!! NAVBAR ON ALL HTML FILES !!!!! */

header {
  background-color: rgb(40, 40, 40);
  display: flex;
  color: white;
  padding: 10px;
}

.title a {
  text-decoration: none;
  color: black;
}

nav {
  margin: 30px 20px 0;
}

nav li {
  display: inline;
  font-size: 18px;
  margin: 30px;
}

nav li a {
  text-decoration: none;
  color: white;
}

nav li a:hover {
  color: rgb(100, 127, 144);
}

/* !!!!! INDEX.HTML CAROUSEL SECTION !!!!! */
