header {
  background-color: rgb(100, 100, 100);
  display: flex;
  color: white;
  padding: 10px;
}

.title {
  background-color: rgb(200, 200, 200);
  border: 2px solid rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  border-radius: 10px;
  width: 205px;
  padding: 8px 20px;
  color: black;
  font-size: 22px;
}

.title a {
  text-decoration: none;
  color: black;
}

nav {
  margin: 12px 20px 0;
}

nav li {
  display: inline;
  font-size: 18px;
  margin-left: 40px;
}

nav li a {
  text-decoration: none;
  color: white;
}
